/* Empty. Add your own CSS if you like */
.gameContainer{
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  border: 1px solid black;
  flex-direction: column;
  background: red;
}
.appContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.gameWindow{
  border: 1px solid black;
  margin: 3px;
  height: 100%;
  background: white;
}
.start{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
